/* ‰Šúİ’è */
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family:'ƒƒCƒŠƒI','Meiryo';
	vertical-align: baseline;
	background: transparent;
	width: 1707px;
	height: 1067px;
	color: #696969;
}

/* ‰æ–Ê‘S‘Ì‚Ìİ’è */
#home{
	font-size: 100px;
	margin: 0 auto;
	text-align: center;
}
